<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>UI_Role_JQ_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,319}</string>
                <key>spriteSourceSize</key>
                <string>{236,319}</string>
                <key>textureRect</key>
                <string>{{0,0},{236,319}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UI_Role_JQ_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,59}</string>
                <key>spriteSourceSize</key>
                <string>{74,59}</string>
                <key>textureRect</key>
                <string>{{0,319},{74,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UI_Role_JQ_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,59}</string>
                <key>spriteSourceSize</key>
                <string>{74,59}</string>
                <key>textureRect</key>
                <string>{{74,319},{74,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UI_Role_JQ_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,59}</string>
                <key>spriteSourceSize</key>
                <string>{74,59}</string>
                <key>textureRect</key>
                <string>{{148,319},{74,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>HomeHero.png</string>
            <key>size</key>
            <string>{236,378}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:30e17adb2c19c9f13b1c24f0aebbaf65:3975b6c66021f92f254bb4d88858953b:9b5a5090cc82c1b58dced9ea89fa1863$</string>
            <key>textureFileName</key>
            <string>HomeHero.png</string>
        </dict>
    </dict>
</plist>
