<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>home_selector_role_yellow_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,54}</string>
                <key>spriteSourceSize</key>
                <string>{184,54}</string>
                <key>textureRect</key>
                <string>{{0,0},{184,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_game_n_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,154}</string>
                <key>spriteSourceSize</key>
                <string>{156,154}</string>
                <key>textureRect</key>
                <string>{{0,54},{156,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_game_n_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,155}</string>
                <key>spriteSourceSize</key>
                <string>{150,155}</string>
                <key>textureRect</key>
                <string>{{0,208},{150,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_game_n_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,97}</string>
                <key>spriteSourceSize</key>
                <string>{83,97}</string>
                <key>textureRect</key>
                <string>{{150,208},{83,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_game_n_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,80}</string>
                <key>spriteSourceSize</key>
                <string>{133,80}</string>
                <key>textureRect</key>
                <string>{{0,363},{133,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_public1.00055_61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,141}</string>
                <key>spriteSourceSize</key>
                <string>{235,141}</string>
                <key>textureRect</key>
                <string>{{0,443},{235,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_public1.00055_62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,143}</string>
                <key>spriteSourceSize</key>
                <string>{242,143}</string>
                <key>textureRect</key>
                <string>{{0,584},{242,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui.png</string>
            <key>size</key>
            <string>{242,727}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6f02bd0119e62249b2f9b0d6612abf83:8bc07eb8afe3128d91931b75bbfbcaf0:e489eb72a1dac3e9a97caaf8aad1ac42$</string>
            <key>textureFileName</key>
            <string>ui.png</string>
        </dict>
    </dict>
</plist>
