<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>天天酷跑.00090_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,128}</string>
                <key>spriteSourceSize</key>
                <string>{90,128}</string>
                <key>textureRect</key>
                <string>{{0,0},{90,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>天天酷跑.00090_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,95}</string>
                <key>spriteSourceSize</key>
                <string>{102,95}</string>
                <key>textureRect</key>
                <string>{{0,128},{102,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>天天酷跑.00090_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,90}</string>
                <key>spriteSourceSize</key>
                <string>{104,90}</string>
                <key>textureRect</key>
                <string>{{0,223},{104,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>天天酷跑.00090_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,45}</string>
                <key>spriteSourceSize</key>
                <string>{49,45}</string>
                <key>textureRect</key>
                <string>{{0,313},{49,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GameUI.png</string>
            <key>size</key>
            <string>{104,358}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a1ef48efa3afe13a049310c95c7a8887:75c6ff16410ff3a4fd6b9b0925d3265d:2531ce2a050ca5e2ac51e04161e77adb$</string>
            <key>textureFileName</key>
            <string>GameUI.png</string>
        </dict>
    </dict>
</plist>
